.img-header {
    max-width: 100%;
    height: 150px;
    float: left;
    margin-top: 50px;
  }
  .header{
    background-color: #87ba8f;
  }
  body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
  }
  .footer{
    background-color:#87ba8f;
    height: 100px;
    margin-top:auto;
  }
  /*FEED*/
  .contentwindow{
    height:750px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #feac93;*/
    background-color: #ffdecf;
    padding-top: 15px;
  }
  /*MYPINS*/
  .contentwindow2{
    height:750px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #69dd82;*/
    background-color: #fcec9c;
    padding-top: 15px;
  }
  /*FAVORITES*/
  .contentwindow3{
    height:750px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #69dd82;*/
    background-color: #a6d5e2;
    padding-top: 15px;
  }

 /*style for feed button*/
 .feedButton {
  background-color:#ffddd3; 
  border-color:#ffddd3;  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none !important;
  font-weight: bold;
  color: #543617;
}
.feedButton:hover
{
  color: #ffffff;
  background-color:#f5ac8a; 
}
.feedButton:focus,
.feedButton:active {
    color: #543617;
    background-color:#ffdecf; 
    border-color:#ffdecf;  
    outline: none;
    box-shadow: none !important;
    
}

/*style for my pins button*/
.mypinsButton {
  background-color: #fcec9c; 
   border-color:#fcec9c; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none !important;
  font-weight: bold;
  color: #334e29;
}
.mypinsButton:hover{
  color: #ffffff;
  background-color: #b5b963; 
}
.mypinsButton:focus,
.mypinsButton:active {
    color: #334e29;
    background-color: #fcec9c; 
    border-color:#fcec9c;  
    outline: none;
    box-shadow: none !important;
}
 /*style for my pins button*/
 .favsButton {
  background-color: #a6d5e2; 
   border-color:#a6d5e2; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none !important;
  font-weight: bold;
  color: #29324e;
}
.favsButton:hover{
  color: #ffffff;
  background-color: #519cb3; 
}
.favsButton:focus,
.favsButton:active {
    background-color: #a6d5e2; 
    border-color:#a6d5e2;  
    outline: none;
    box-shadow: none !important;
    color: #29324e;
}


  /*style for add a pin button*/
  .addpinButton {
    background-color: #334e29; 
    border-color:#334e29; 
    box-shadow: none !important;
    font-weight: bold;
    color: #deffcb;
  }
  .addpinButton:hover,
  .addpinButton:focus,
  .addpinButton:active {
      background-color: #90b87d; 
      border-color:#c5e5b6;  
      outline: none;
      box-shadow: none !important;
  }

 /*link styles*/
  a{
      color: #477d3b;
      font-weight: bold;
  }
  a:hover{
    color: #6cad5d;
  }

/*card styles*/

.card{
  background-color: #ffdecf;
  border: none !important;
  font-family: verdana;
  width: 100%;
  margin: 0 auto;
  font-size: small;
}

/*card image*/
.image-container {
  width: 100%;
  height: 100%; 
  position: relative; 
  overflow: hidden;  
}

.image-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  
}


  .active {
    background-color: #fffaf8 !important;
  }